@{ 
    Layout = null;
}
<div id="divFooter" class="pre100 bg-brown-2e">
    <div class="wrap newshoufooter">
        <div class="newhousemap fix">
            <dl>
                <dt class="dt1"><a href="/" title="深圳房地产信息网新房在线">新房</a></dt>
                <dd><a href="/search.html" title="深圳房地产信息网新房在线搜索">新房楼盘</a></dd>
                <dd><a href="http://go.szhome.com/bargain/index.html" title="购房俱乐部" target="_blank">优惠活动</a></dd>
                <dd><a href="http://go.szhome.com/" title="购房俱乐部看房团">看房团</a></dd>
                <dd><a href="http://xwf.szhome.com/" title="学位房地图">学位房地图</a></dd>
            </dl>
            <dl>
                <dt class="dt2"><a href="http://zf.szhome.com/" title="咚咚找房" target="_blank">二手房/租房</a></dt>
                <dd><a href="http://zf.szhome.com/search.aspx" title="咚咚找房二手房源" target="_blank">二手房源</a></dd>
                <dd><a href="http://zf.szhome.com/search.aspx?bzaa0000zzzz" title="咚咚找房出租房源" target="_blank">出租房源</a></dd>
                <dd><a href="http://zf.szhome.com/community.aspx" title="咚咚找房小区" target="_blank">小区</a></dd>
                <dd><a href="http://zf.szhome.com/login.aspx" title="咚咚抢客经纪人" target="_blank">经纪人</a></dd>
            </dl>
            <dl>
                <dt class="dt3"><a href="http://news.szhome.com/" title="地产头条" target="_blank">地产头条</a></dt>
                <dd><a href="http://news.szhome.com/zixun.html" title="房网资讯中心" target="_blank">资讯</a></dd>
                <dd><a href="http://news.szhome.com/louqing.html" title="房网资讯中心楼情" target="_blank">楼情</a></dd>
                <dd><a href="http://news.szhome.com/guandian.html" title="房网资讯中心观点" target="_blank">观点</a></dd>
                <dd><a href="http://news.szhome.com/zhuanti.html" title="房网资讯中心专题" target="_blank">专题</a></dd>
            </dl>
            <dl>
                <dt class="dt4"><a href="http://anju.szhome.com/" title="安居房" target="_blank">安居房</a></dt>
                <dd><a href="http://anju.szhome.com/" title="安居/公租/人才" target="_blank">安居/公租/人才</a></dd>
                <dd><a href="http://anju.szhome.com/gzfpm/" title="轮候排名查询" target="_blank">轮候排名查询</a></dd>
                <dd><a href="http://anju.szhome.com/question.html" title="百科" target="_blank">百科</a></dd>
                <dd><a href="http://anju.szhome.com/720/" title="720全景" target="_blank">720全景</a></dd>
            </dl>
            <dl>
                <dt class="dt5"><a href="http://csgx.szhome.com/" title="城市更新" target="_blank">城市更新</a></dt>
                <dd><a href="http://csgx.szhome.com/News/0-0.html" title="政策咨询" target="_blank">政策咨询</a></dd>
                <dd><a href="http://csgx.szhome.com/Project/0-0.html" title="规划项目" target="_blank">规划项目</a></dd>
                <dd><a href="http://csgx.szhome.com/Project/0-0.html" title="产业园区" target="_blank">产业园区</a></dd>
            </dl>
            <dl>
                <dt class="dt6"><a href="http://family.szhome.com/" title="房网家居装修" target="_blank">装修</a></dt>
                <dd><a href="http://bbs.szhome.com/80700.html" title="榜样房" target="_blank">榜样房</a></dd>
                <dd><a href="http://bbs.szhome.com/80800.html" title="设计师沙龙" target="_blank">设计师沙龙</a></dd>
                <dd><a href="http://bbs.szhome.com/80400.html" title="装修招标" target="_blank">装修招标</a></dd>
                <dd><a href="http://bbs.szhome.com/81100.html" title="装修闲鱼" target="_blank">装修闲鱼</a></dd>
            </dl>
            <dl>
                <dt class="dt7"><a href="http://bbs.szhome.com/" title="家在论坛" target="_blank">家在论坛</a></dt>
                <dd><a href="http://bbs.szhome.com/520.html" title="家在论坛兴趣圈" target="_blank">兴趣圈</a></dd>
                <dd><a href="http://bbs.szhome.com/370.html" title="家在论坛美食" target="_blank">美食</a></dd>
                <dd><a href="http://bbs.szhome.com/60.html" title="家在论坛亲子教育" target="_blank">亲子教育</a></dd>
                <dd><a href="http://bbs.szhome.com/50.html" title="家在论坛家常话" target="_blank">家常话</a></dd>
            </dl>
            <dl>
                <dt class="dt8"><a href="javascript:void(0);" title="工具" target="_blank">工具</a></dt>
                <dd><a href="http://bol.szhome.com/tool/tools.htm" title="贷款计算器" target="_blank">贷款计算器</a></dd>
                <dd><a href="http://cfj.szhome.com/" title="查房价" target="_blank">查房价</a></dd>
                <dd><a href="http://xwf.szhome.com/" title="学位房地图" target="_blank">学位房地图</a></dd>

            </dl>
        </div>
        <div class="footercontent fix">
            <div class="left">
                <p><a href="http://www.szhome.com/" title="深圳房地产信息网" target="_blank"><img src="/content/images/szhome-logo1.png" alt="深圳房地产信息网"></a></p>
                <p>电话：83774745（新房广告业务）/ 25327824（二手房业务）/ 83680819（地图业务）/ 83468529（家居装修业务）</p>
                <p style="margin-left:37px;">13682490072（保障房业务）/ 83591626（城市更新业务）/ 83662670（海外地产业务）/ 82870529（品牌合作）</p>
                <p style="margin-left:37px;">18926500181（家在广告）/ 15323892714（会员商家） / 18027662535（亲子教育）/ 13723703116（汽车频道）</p>
                <p style="margin-left:37px;">19925215717（二级目录、技术合作）/15012771668（旅游频道）/ 83680534（新媒体）/ 83684400（其他）</p>
                <p>传真：83680527 　　</p>
                <p>法务部  座机：0755-83684400  邮箱：332989758@qq.com</p>
                <p>地址：深圳市南山区高新南九道10号深圳湾生态园10栋A座14-15层</p>
            </div>
            <div class="right" style="text-align:right; margin-top:30px;">
                <p>深圳市易图资讯股份有限公司 版权所有，未经同意请勿转载</p>
                <p>
                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030402000760" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:white"><img src="http://www.szhome.com/images/beian.png" style="float:left;">粤公网安备 44030402000760号</a>
                    ICP备案号：粤ICP备10068813号
                </p>
                <p style="margin-top:20px;">
                    <a href="http://szcert.ebs.org.cn/ae8efdff-762f-4795-a4dd-e5e58e96ed52" target="_blank"><img src="http://szcert.ebs.org.cn/Images/govIcon.gif" title="深圳市市场监督管理局企业主体身份公示" alt="深圳市市场监督管理局企业主体身份公示" width="36" height="50" border="0" style="border-width:0px;border:hidden; border:none;"></a>
                    <script type="text/javascript">
                        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9a7b16ce65b422c3a2b3f1d30d705175' type='text/javascript'%3E%3C/script%3E"));
                    </script>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="ad-r">
    <a href="http://bbs.szhome.com/Comment/Add-500070.html" title="我要爆料" target="_blank" class="anju-blBtn"></a>    
    <a href="http://zf.szhome.com/search.html?sor=2" target="_blank" class="anjuchuzhuBt" title="出租房源"></a>
    <a href="http://www.sz-fesco.com/about.asp?id=162" target="_blank" class="anju-jf" title="积分入户"></a>      
    <div class="ewm">
        <div class="ad-pop-wrap ewmwrap">
            <div class="ewm-pop fix">
                <span class="poptip-arrow poptip-arrow-right"><em>◆</em><i class="wihte">◆</i></span>
                <div class="ewmdiv b-a-dc f14 f-yh">
                    <img src="http://qrgenerator.qrcreator.net/create.php?data=http://bbs.szhome.com/500070-8-1-0-1.html" alt="深圳房地产信息网手机看论坛" title="深圳房地产信息网手机看论坛">
                    <p class="b-t-dc">手机看论坛</p>
                </div>
                <div class="ewmdiv b-a-dc f14 f-yh">
                    <img src="/Content/images/anju-ewm.png">
                    <p class="b-t-dc">安居房公众号</p>
                </div>
            </div>
        </div>
    </div>
    <a href="project.html?prot=1" target="_blank" class="base seach"></a>
    <a href="javascript:void(0);" onclick="RollToTop()" class="base blackTop"></a>
</div>